.add-service-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.add-service-fixed-header {
  width: 100%;
  display: flex;
  z-index: 200;
  box-shadow: 0px 0px 20px 0px rgba(17, 18, 38, 0.15);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ab110b;
}
.add-service-form {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  padding: var(--dl-space-space-twoandhalf);
  max-width: 700px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-pimary-800);
}
.add-service-text {
  color: var(--dl-color-secondary-400);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}
.add-service-text1 {
  color: rgba(100,116,139,1);
}
.add-service-text2 {
  color: rgba(100,116,139,1);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.25rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.add-service-textinput {
  color: rgba(148, 163, 184, 1);
  width: 100%;
  outline: 0;
  padding: var(--dl-space-space-triplequarter);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
  transition: 0.3s;
  border-width: 0px;
  border-radius: 4px;
}
.add-service-textinput:focus {
  color: var(--dl-color-secondary-500);
  box-shadow: 0 0 0 2px#4AA4E3;
}
.add-service-text3 {
  color: rgba(100,116,139,1);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.25rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.add-service-textinput1 {
  color: rgba(148, 163, 184, 1);
  width: 100%;
  outline: 0;
  padding: var(--dl-space-space-triplequarter);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
  transition: 0.3s;
  border-width: 0px;
  border-radius: 4px;
}
.add-service-textinput1:focus {
  color: var(--dl-color-secondary-500);
  box-shadow: 0 0 0 2px#4AA4E3;
}
.add-service-container1 {
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
@media(max-width: 767px) {
  .add-service-form {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .add-service-text {
    text-align: left;
  }
}
